.about-page {
  background-color: #000;
  height: 100vh;
  width: 100%;
  color: #fff;

  .content {
    position: relative;
    width: 100%;
    margin-left: auto;
    text-align: center;
    overflow-y: hidden;
    h3 {
      margin-top: 150px;
    }
  }

  &.light {
    background-color: #fff;
    color: #000;
  }
}

@media screen and (min-width: 768px) {
  .about-page {
    .content {
      width: calc(100% - 300px);
    }
  }
}
